/* 春联外层的table */
.couplut-div{
	/* 大小 */
	width: 100%;
	height: 2600px;
	/* 溢出隐藏 */
	overflow: hidden;
	
	/* 两端排布 */
	display: flex;
	justify-content: space-between;
}

/* 两侧大块的大小 */
.couplut-left-right{
	/* 大小 */
	width: 21%;
	height: 100%;
	/* 弹性布局 */
	position: relative;
}
/* 两侧小块 */
.couplut-aside{
	/* 绝对位置 */
	position: absolute;
	top:30px;
	/* 大小 */
	width:28%;
	height: 100%;
	/* 春联背景图 */
	background-image: url("img/春联长(带花纹).png");
	background-repeat: no-repeat;
	background-size: 400px 2600px;
	
	/* 层级低 */
	z-index: -1;
	
	/* 文字 */
	font-size: 200px;
	text-align: center;
	font-family: "颜真卿颜体";
	color: white;
	line-height: 350px;
}
/* 春联杠 */
.slide-up{
	/* 绝对位置 */
	position: absolute;
	width: 28%;
	height: 200px;
	background-image: url("./img/春联杠(带花纹).png");
	background-repeat: no-repeat;
	background-size: contain;
	
	/* 层级高 */
	z-index: 1;
	
}
/* 春联杠-左 */
.slide-up-left{
	left:72%;
}
/* 春联杠-右 */
.slide-up-right{
	right: 72%;
}
/* 春联条-左 */
.couplut-left-down{
	right: 0px;
}
/* 两个春联下半部分 */
/* .slide{
	height: 0;
} */
/* 左侧春联下半部分 */
.slide-left{
	height:0;
	opacity: 0;
	z-index: 2;
}
/* 右侧春联下半部分 */
.slide-right{
	height: 0;
	opacity: 0;
	z-index: 2;
}

/* 中间的大块 */
.couplut-middle-card{
	/* 大小 */
	width: 50%;
	height: 100%;
}
/* 中间上半部分大块 */
.couplut-middle-up{
	/* 大小 */
	width: 100%;
	height: 70%;
}
/* 中间上半部分大块中的两个小块，合并设置 */
.couplut-middle-up-all{
	/* 大小 */
	width: 100%;
	height: 45%;
	/* 阴影 */
	box-shadow: 2px 2px 30px gray;
	/* 相对位置 */
	position: relative;
	/* 背景 */
	background-color: #f5f1e6;
}
/* 中间上半部分大块中的两个小块-上 */
.couplut-middle-up-on{
	margin-top: 1%;
}
/* 中间上半部分大块中的两个小块-下 */
.couplut-middle-up-under{
	margin-top: 2%;
}
/* 中间上半部分所有文字样式 */
.couplut-middle-text{
	/* 绝对位置 */
	position: absolute;
}
/* 中间上半部分两个标题样式 */
.couplut-middle-up-title{
	/* 位置 */
	top:40px;
	/* 文字大小 */
	font-size: 80px;
	font-family: "楷体";
	/* 左侧留空 */
	margin-left: 5%;
	padding: 50px;
	/* 左侧小竖线 */
	border-left: 30px solid #EFC1C4;
}
/* 中间上半部分的两个内容样式 */
.couplut-middle-up-p-1{
	/* 位置 */
	top:300px;
	/* 大小 */
	width: 90%;
	/* 居中 */
	margin-left: 5%;
	
	/* 首行缩进 */
	text-indent: 2em;
	/* 字体 */
	font-size: 50px;
	font-family: "宋体";
	/* 行间距 */
	line-height: 90px;
	letter-spacing: 3px;
}
/* 中间上半部分的两个内容样式 */
.couplut-middle-up-p-2{
	/* 位置 */
	top:500px;
	/* 大小 */
	width: 90%;
	/* 居中 */
	margin-left: 5%;
	
	/* 首行缩进 */
	text-indent: 2em;
	/* 字体 */
	font-size: 50px;
	font-family: "宋体";
	/* 行间距 */
	line-height: 90px;
	letter-spacing: 3px;
}
/* 中间下半部分大块 */
.couplut-middle-down{
	/* 大小 */
	width: 100%;
	height: 19%;
	
	/* 弹性布局 */
	display: flex;
	justify-content: space-around;
}
/* 中间下半部分的四个小图片,合并设置 */
.couplut-middle-down-image{
	/* 大小 */
	width: 18%;
	height: 95%;
	
	/* 圆角 */
	border-radius: 40px;
	
	/* 字体 */
	font-size: 500px;
	color: white;
	font-family: "华文隶书";
	text-shadow: 0px 0px 50px black;
	/* 位置 */
	text-align: center;
	padding: 100px;
	
	/* 阴影 */
	box-shadow: 0px 0px 20px gray;
	/* 背景设置 */
	background-size: cover;
	background-repeat:  no-repeat;
}
/* 中间下半部分的四个小图片,单独设置，第一张 */
.couplut-middle-down-1{
	background-image: url("./img/文化内涵/燕子.png");
}
.couplut-middle-down-2{
	background-image: url("./img/文化内涵/蝴蝶.png");
}
.couplut-middle-down-3{
	background-image: url("./img/文化内涵/兔子.png");
}
.couplut-middle-down-4{
	background-image: url("./img/文化内涵/鹿.png");
}


/* 敦煌人物 */
.people-left-right{
	width: 0%;
	height: 100%;
	position: relative;
}
/* 左侧敦煌人物 */
.people-left{
	height: 100%;
}
/* 右侧敦煌人物 */
.people-right{
	height: 100%;
	position: absolute;
	right: 0px;
}